@{
    ViewData["Title"] = "CFT";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><a href="http://localhost:5076/Estudiantes">Portal Estudiantes</a>.</p>
    <p><a href="http://localhost:5076/Asignaturas">Portal Asignaturas</a>.</p>
</div>
